*{
    margin: 0;
    padding: 0;
}

body{
    height:692px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    
    width:40%;
   height:150px;
   background-color: antiquewhite;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: 1px solid black;
   border-radius: 15px;
}
#timer{
    font-size: 4rem;
    margin-bottom:10px ;
}

button{
    padding: 6px;
    cursor: pointer;
    margin: 0 6px;
    background-color: rgb(234, 180, 115);
    
}
button i{
    font-size: 1rem;
}
/* #play{

}
#pause{

}
#reset{

} */